.ratings-container {
  padding: 5rem 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratings-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3%;
  width: 100%;
}

.course-details-mobile {
  display: none;
}

.upper-details {
  display: flex;
  flex-direction: row;
}

.course-details h1 {
  font-weight: 500;
  font-size: 2rem;
  padding-right: 15px;
}

.upper-details button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: visible;
  min-width: 180px;
  max-width: 190px;
  max-height: 46px;
}

.rating-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rating {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 5px 5px;
  margin: 2%;
  margin-bottom: 25px;
  width: 75%;
  box-shadow: 0px 0px 6px 2px #e1e1e1;
  border-radius: 12px;
}

.rating-sideways {
  display: flex;
  flex-direction: row;
}

.rating-left {
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
  flex: 0 0 200px;
  max-height: 35rem;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 1px 1px #d4d4d4;
  border-radius: 12px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.rating-right {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 1px 1px #d4d4d4;
  border-radius: 12px;
  margin: 1px 1px 1px 6px;
  padding: 2%;
}

.review-data-top {
  display: none;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 4px;
  box-shadow: 0px 0px 1px 1px #d4d4d4;
  margin-left: 1px;
}

.rating-divider-top {
  display: none;
  width: 100%;
  height: 1px;
  border-radius: 11px;
  background-color: #b8b8b8;
  margin-top: 5px;
  margin-bottom: 4px;
}

.review-data-top .rating-data {
  margin: 4px 6px;
}

.review-data-bottom {
  display: flex;
  flex-direction: column;
}

.rating-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewer-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviewer-data h4 {
  padding-right: 5px;
}

.professor-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
}

.completion-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.year-semester {
  display: flex;
  flex-direction: row;
}

.year-semester p {
  margin-right: 5px;
}

.post-date-bottom {
  display: none;
}

.rating-divider {
  width: 100%;
  height: 1px;
  border-radius: 11px;
  background-color: #b8b8b8;
  margin-top: 5px;
  margin-bottom: 15px;
}

.review {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.leave-review-title {
  margin-top: 8vh;
}

.error-message {
  color: red;
}

@media screen and (max-width: 1500px) {
  .rating {
    width: 100%;
  }

  .ratings-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .review-data-top {
    display: flex;
  }

  .review-data-bottom {
    display: none;
  }

  .rating-divider-top {
    display: inline;
  }

  .rating-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .upper-details {
    display: flex;
    flex-direction: column;
  }

  .course-details-desktop {
    display: none;
  }

  .course-details-mobile {
    display: inline;
  }

  .post-date-top {
    display: none;
  }

  .post-date-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 645px) {
  .rating {
    margin-bottom: 50px;
  }

  .review-data-top .rating-data .reviewer-data {
    display: flex;
    flex-direction: column;
  }

  .review-data-top .rating-data .reviewer-data .professor-data {
    justify-content: flex-start;
    margin-bottom: 4px;
    padding-right: 0;
  }

  .review-data-top .rating-data .reviewer-data .professor-data h4 {
    padding-right: 4px;
  }

  .review-data-top .rating-data .reviewer-data .completion-data {
    justify-content: flex-start;
    margin-bottom: 4px;
    padding-right: 0;
  }

  .review-data-top .rating-data .reviewer-data .completion-data h4 {
    padding-right: 4px;
  }
}

@media screen and (max-width: 520px) {
  .rating-sideways {
    flex-direction: column;
  }

  .course-overall {
    margin-top: 0;
  }

  .review-data-top {
    margin-left: 0;
  }

  .rating-left {
    flex: 1;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 0;
  }

  .rating-right {
    margin-top: 6px;
    margin-left: 1px;
    margin-bottom: 1px;
    padding: 6px 10px;
    padding-bottom: 50px;
  }
}
