/* Leave Review form */

.form-container {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding: 0.4%;
  margin: 2%;
  width: 75%;
  box-shadow: 0px 0px 6px 2px #e1e1e1;
  border-radius: 12px;
}

.form-left {
  display: flex;
  flex-direction: column;
  padding: 2%;
  flex: 0 0 200px;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 1px 1px #d4d4d4;
  border-radius: 12px;
}

.form-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 1px 1px #d4d4d4;
  border-radius: 12px;
  margin: 1px 1px 1px 6px;
  padding: 2%;
}

.course-version-data {
  display: flex;
  flex-direction: row;
  margin: 0.5% 0 0 0;
}

.course-version-data div {
  margin-right: 1rem;
  margin-top: 1px;
}

.study-period select {
  color: gray;
  box-shadow: 0px 2px 2px 0px var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 2px 4px 2px 0;
}

.form-text-rating {
  padding-bottom: 28px;
}

textarea {
  width: 98%;
  padding: 4px 4px 50px 4px;
  margin: 0px 1px;
  margin-bottom: 2px;
  box-shadow: 0px 2px 2px 0px var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  resize: none;
}

.course-version-data .form-text-rating {
  flex: 0 0 150px;
}

.form-text-rating input {
  width: 100%;
  padding: 4px 0 50px 4px;
  margin-bottom: 2px;
  box-shadow: 0px 2px 2px 0px var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}

.course-version-data .form-text-rating textarea {
  height: 24px;
  border-radius: 6px;
  padding: 3px 4px 2px 6px;
}

/* Star ratings */

.star-rating {
  height: 100px;
}

.rating-container {
  margin-top: 5px;
}

.rating-bar {
  background-color: lightgray;
  border-radius: 15px;
  display: flex;
  width: 100%;
  height: 20px;
  box-shadow: 0px 2px 2px 0px var(--accent-color);
}

.rating-segment {
  flex-grow: 1;
  cursor: pointer;
  border-style: none none none solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}

.rating-container p {
  margin-top: 2px;
  text-align: center;
}

.rating-segment:first-child {
  border-style: none;
}

.selected-rating-1 {
  background-color: var(--rating-1);
  border-radius: 15px 0px 0px 15px;
}
.selected-rating-2 {
  background-color: var(--rating-2);
}
.selected-rating-3 {
  background-color: var(--rating-3);
}
.selected-rating-4 {
  background-color: var(--rating-4);
}
.selected-rating-5 {
  background-color: var(--rating-5);
  border-radius: 0px 15px 15px 0px;
}

/* Make radio buttons invisible to eye, but keep them in DOM for accessibility */
.visually-hidden {
  opacity: 1%;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (max-width: 1500px) {
  .form-container {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .form-container {
    flex-direction: column;
    padding: 4px;
  }

  .form-left {
    flex: 1;
    margin: 1px;
    margin-bottom: 4px;
    padding: 15px 10%;
  }

  .form-right {
    margin: 1px;
  }

  .star-rating {
    height: 90px;
  }
}

@media screen and (max-width: 405px) {
  .course-version-data {
    flex-direction: column;
  }

  .study-period {
    margin-bottom: 15px;
  }

  .form-text-rating {
    padding-bottom: 8px;
  }

  .course-version-data div {
    margin-right: 0;
  }

  .course-version-data .form-text-rating {
    flex: 0;
    padding-bottom: 18px;
  }

  .course-version-data .form-text-rating textarea {
    width: 165px;
  }

  .study-period {
    padding-bottom: 2px;
    margin-bottom: 7px;
  }

  .study-period select {
    padding-right: 24px;
  }
}
