.course-table-headings {
  display: flex;
  font-size: 1.2rem;
  padding: 0 1.5rem;
  text-align: center;
}

.heading-code {
  flex: 0 0 12%;
  text-align: start;
}

.heading-name {
  flex: 0 0 18%;
  margin-right: 7%;
}

.heading-rating {
  flex: 0 0 10%;
  margin-right: 0.2%;
}

.heading-rating-count {
  flex: 0 0 13%;
}

.course-list {
  padding: 0.5rem 0.5rem;
}

.course-item {
  display: flex;
  background-color: #ffffff;
  font-size: 1rem;
  padding: 0.5% 1rem;
  margin-top: 1.2rem;
  border-radius: 14px;
  box-shadow: 0px 2px 2px 0px var(--accent-color);
  align-items: center;
}

.course-code {
  margin-left: 0.5vw;
  /* flex: 0 0 9%; */
  flex: 0 0 9%;
  word-wrap: break-word;
}

.course-name {
  margin: auto;
  flex: 0 0 20%;
}

.rating-count {
  margin: auto;
  flex: 0 0 4%;
}

.failed-search {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2.5% 1%;
}

@media screen and (max-width: 1570px) {
  .heading-name {
    flex: 0 0 17%;
  }

  .heading-rating {
    flex: 0 0 10%;
    margin-right: 7px;
  }
}
