.course-list {
  padding: 0.5rem 0.5rem;
}

.course-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 25px;
  padding: 5px 10px;
  border-radius: 14px;
  box-shadow: 0px 2px 2px 0px var(--accent-color);
}

.course-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-details {
  display: flex;
  flex-direction: column;
  overflow-x: visible;
}

.rating-count-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-x: visible;
}

.number-ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.number-ratings div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-0,
.rating-1,
.rating-2,
.rating-3,
.rating-4,
.rating-5 {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 8px 4px 5px 4px;
}

.failed-search {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2.5% 1%;
}

@media screen and (max-width: 560px) {
  .number-ratings .structure-rating {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .number-ratings .interesting-rating {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .number-ratings .usefulness-rating {
    display: none;
  }

  .number-ratings {
    justify-content: space-around;
  }
}
